h1{
    text-align: center;
}

/*слово HTML*/
.text1{
    color: blue;
}

/*ссылка на первой странице*/
.ht1{
    color: rgb(34, 16, 112);
    text-decoration: none;
    
}


/*первый параграф*/
.par1{
    font-family: Arial;
    font-size: small;
    color: coral;
}
/*второй параграф*/
#P1{
    font-family: 'Times New Roman';
    font-size: medium;
    color: darkgoldenrod;
    
}
/*третий параграф*/
#P2{
    font-family: cursive;
    font-size: large;
    color: rgb(42, 168, 162);
}
/*выделенные слова*/
span{
    color: rgba(59, 4, 4, .5);
}
/*первый список*/
.list1{
    list-style-type: disc;


}
/*второй список*/
.list2{
    list-style-type: none;
}
.list2 :before{
    content: "§ ";
}
/*третий список*/
.list3{
    list-style-type: circle;
}

img{
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.title_img{
    font-family: 'Courier New';
}

.fio{
    text-transform: uppercase;
    font-family: cursive;
}
